html {
    scroll-behavior: smooth;
}

html,
* {
    margin-top: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* < 576px => 100% */
.section {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
}

.container {
    min-height: 100vh;
    border: 1px solid #000;
}

/* 540px */
@media (min-width: 576px) {
    .section {
        grid-template-columns: 1fr 540px 1fr;
    }

    .container,
    .navbar {
        grid-column-start: 2;
        grid-column-end: 3;
    }
}

/* 720px */
@media (min-width: 768px) {
    .section {
        grid-template-columns: 1fr 720px 1fr;
    }
}

/* 960px */
@media (min-width: 992px) {
    .section {
        grid-template-columns: 1fr 960px 1fr;
    }
}

/* 1140px */
@media (min-width: 1200px) {
    .section {
        grid-template-columns: 1fr 1140px 1fr;
    }
}

.section {}

.home.section {}

.home.section .container {}

.slider.section {}

.about.section {}

.portfolio.section {}

.contacts.section {}

.column-red {
    background: #FF5151;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
    width: 275px;
    height: 100vh;
    position: fixed;
    z-index: 6;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.background img {
    opacity: 0.15;
    max-width: 100%;
    height: auto;
}
